h1
  | Junction
  ' #
  = model.id
.grid-x.grid-margin-x
  .cell.small-12.medium-6
    h2 Info
    h4 Chromosome
    p = model.chromosome
    h4 Intron start position
    p = model.intronStart
    h4 Intron end position
    p = model.intronEnd
    h4 Strand
    p = model.strand
    h4 Donor dinucleotide
    p = model.donorDinucleotide
    h4 Acceptor dinucleotide
    p = model.acceptorDinucleotide
  .cell.small-12.medium-6
    h2 Samples
    table
      thead
        tr
          th SRA project accession number
          th SRA sample accession number
          th SRA experiment accession number
          th SRA run accession number
          th Count
      tbody
        each samples as |sample|
          tr
            td = sample.data.sraProjectAccessionNumber
            td = sample.data.sraSampleAccessionNumber
            td = sample.data.sraExperimentAccessionNumber
            td = sample.data.sraRunAccessionNumber
            td = sample.count
if canRenderChart
  high-charts chartOptions=samplesChartOptions content=samplesChartData
