@import "settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

.off-canvas{
  .menu{
    a{
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.hide-for-smedium-up {
  @media screen and (min-width: 775px) {
    display: none !important;
  }
}

@import "ember-power-select";
